openapi: 3.0.3
info:
  title: TargetSolutions Courses Users API
  version: v1
  description: REST API for the TargetSolutions online training and records-management platform by Vector Solutions. Manage sites, users, profile categories and groups, supervisor and feature access, credentials and credential assignments, courses, and training assignments. Authentication uses a customer-specific API token passed in the AccessToken header of every request; tokens are issued by a TargetSolutions account manager and can be scoped read-only or feature-specific. Responses are JSON. Generated by API Evangelist from the routes, getting-started, HTTP status code, and error code documentation at https://developers.targetsolutions.com/ - payload schemas are not published by the provider and are left untyped.
  contact:
    name: TargetSolutions Developer Portal
    url: https://developers.targetsolutions.com/
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://developers.targetsolutions.com/documentation/routes
servers:
- url: https://api.targetsolutions.com/v1
  description: Production
- url: https://devsandbox.targetsolutions.com/v1
  description: Developer sandbox (refreshed nightly with a copy of live data)
security:
- AccessToken: []
tags:
- name: Users
paths:
  /users:
    get:
      operationId: getUsers
      summary: Retrieve all users
      description: Retrieve all users.
      tags:
      - Users
      responses:
        '200':
          description: The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The request was invalid or cannot be otherwise served. An accompanying error message will explain further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: The supplied credentials, if any, are not sufficient to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Your application is sending too many simultaneous requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: We couldn't return the representation due to an internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: q
        in: query
        required: false
        description: JSON search filter, e.g. q={"key":"value"} (documented in the developer portal FAQ).
        schema:
          type: string
  /sites/users:
    get:
      operationId: getAllSitesUsers
      summary: Retrieve all users across sites
      description: Retrieve all users across sites.
      tags:
      - Users
      responses:
        '200':
          description: The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The request was invalid or cannot be otherwise served. An accompanying error message will explain further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: The supplied credentials, if any, are not sufficient to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Your application is sending too many simultaneous requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: We couldn't return the representation due to an internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: q
        in: query
        required: false
        description: JSON search filter, e.g. q={"key":"value"} (documented in the developer portal FAQ).
        schema:
          type: string
  /sites/{siteid}/users:
    get:
      operationId: getSiteUsers
      summary: Retrieve users within a site
      description: Retrieve users within a site.
      tags:
      - Users
      responses:
        '200':
          description: The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The request was invalid or cannot be otherwise served. An accompanying error message will explain further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: The supplied credentials, if any, are not sufficient to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Your application is sending too many simultaneous requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: We couldn't return the representation due to an internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: siteid
        in: path
        required: true
        description: Site identifier
        schema:
          type: string
    post:
      operationId: createSiteUser
      summary: Create a new user
      description: Create a new user.
      tags:
      - Users
      responses:
        '201':
          description: The request has been fulfilled and resulted in a new resource being created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The request was invalid or cannot be otherwise served. An accompanying error message will explain further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: The supplied credentials, if any, are not sufficient to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The request could not be completed due to a conflict with the current state of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Your application is sending too many simultaneous requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: We couldn't return the representation due to an internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: siteid
        in: path
        required: true
        description: Site identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: JSON body as documented per route in the TargetSolutions developer portal (payload schemas are not published).
  /users/{userid}:
    get:
      operationId: getUser
      summary: Retrieve a specific user
      description: Retrieve a specific user.
      tags:
      - Users
      responses:
        '200':
          description: The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The request was invalid or cannot be otherwise served. An accompanying error message will explain further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: The supplied credentials, if any, are not sufficient to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Your application is sending too many simultaneous requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: We couldn't return the representation due to an internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: userid
        in: path
        required: true
        description: User identifier
        schema:
          type: string
    put:
      operationId: updateUser
      summary: Modify user details
      description: Modify user details.
      tags:
      - Users
      responses:
        '200':
          description: The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The request was invalid or cannot be otherwise served. An accompanying error message will explain further.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: The supplied credentials, if any, are not sufficient to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The request could not be completed due to a conflict with the current state of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Your application is sending too many simultaneous requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: We couldn't return the representation due to an internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: userid
        in: path
        required: true
        description: User identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: JSON body as documented per route in the TargetSolutions developer portal (payload schemas are not published).
components:
  schemas:
    Error:
      type: object
      description: Application error. TargetSolutions documents application error codes (701-1006) alongside HTTP status codes; see https://developers.targetsolutions.com/documentation/errorcodes.
      properties:
        code:
          type: integer
          description: Application error code (e.g. 801 Access Token not passed)
        message:
          type: string
          description: Human-readable error message
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Customer-specific API token passed in the header of all requests over HTTPS. Requested from your TargetSolutions account manager; tokens can be read-only or feature-specific.
